<div class="content project">
    
    <div class="project-container"><img></img></div>
    
    <p class="thick">Henriette Von Gruenberg</p>
    <p>Director Tara Aghdashloo seamlessly captures the soft tones and textures of Henriette Von Gruenberg's luxury sustainable fashion brand.<p>

    <ul class="credits">
        <div class="keys">
            <li>Director</li>
            <li>Model/Designer</li>
            <li>Director of Photography</li>
            <li>Editors</li>
            <li>Production</li>
            <li>1st Assistant Camera</li>
            <li>1st Assistant Camera</li>
            <li>Hair and Make-up</li>
            <li>Style Assistant</li>
            <li>Set Assist</li>
            <li>Music</li>
            <li>Rental Company</li>
        </div>
        <div class="values">
            <li>Tara Aghdashloo</li>
            <li>Henriette Von Grunberg</li>
            <li>Claudio Napoli</li>
            <li>James Gunn & Tara Aghdashloo</li>
            <li>t.a studios</li>
            <li>Valeria Lattanzi</li>
            <li>Ari Salazar</li>
            <li>Alexandra Staggl</li>
            <li>Sasha Zlatkina</li>
            <li>Isabella Leitz</li>
            <li>Sassy Moon by Hairband</li>
            <li>VMI Ltd.</li>
        </div>
    </ul>
</div>