<% content_for :head do %> <title>Ari Salazar | Commercial</title>  <% end %>

<div class="content index">
    <a class="index-container fade" href="commercial/henriette-von-gruenberg" data-text="Henriette Von Gruenberg / Fashion">
    <%= image_tag("commercial/HENRIETTE.jpg", :class => "img")%>
    </a>
</div>
