<div class="content">
    <div class="projects">
        <div class="project1"><a href="documentary/angela">Angela</a></div>
        <div class="project1"><a href="documentary/vem-plus">VEM+</a></div>
        <div class="project1"><a href="documentary/zeina">Zeina</a></div>
        <div class="project1"><a href="documentary/where-do-i-even-start">Where Do I Event Start</a></div>
    </div>
</div>
