<% content_for :head do %> <title>Ari Salazar | Film | Angela</title>  <% end %>

<div class="content project">
    
    <div class="project-container"><img></img></div>

    <div class="text">
        <p class="thick">Angela</p>
        <p>Angela Camargo is Panama’s oldest, and most celebrated restorationist. We accompany her on her daily walk through Casco Viejo, listening to her life story as she feeds the old city center’s cats. What has kept her working all these years?<p>

            <div class="credits">
            <div class="row">
                <ul class="keys">
                    <li>Filmmaker</li>
                    <li>Country</li>
                    <li>Year</li>
                    <li>Format</li>
                    <li>Length</li>
                    <li>Language</li>
                </ul>
                <ul class="values">
                    <li>Ari Salazar</li>
                    <li>Panama, UK</li>
                    <li>2020</li>
                    <li>Digital</li>
                    <li>7:00</li>
                    <li>English</li>
                </ul>
            </div>
            <div class="row">
                <ul class="keys">
                    <li>Director</li>
                    <li>Producer</li>
                    <li>Cinematographer</li>
                    <li>Editor</li>
                    <li>Sound Designer</li>
                    <li>Cast</li>
                </ul>
                <ul class="values">
                    <li>Ari Salazar</li>
                    <li>Gunay Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Angela Camargo</li>
                </ul>
            </div>
        </div>
    </div>
</div>