<div class="content index">

    <div class="project-container">
        <img><%= image_tag("film/index/ANGELA.jpg") %></img>
        <div class="overlay">
            <a class="overlay-title" href="film/angela">Angela</a>
        </div>
    </div>
        
    <div class="project1"><a href="film/zeina">Zeina</a></div>
    <div class="project1"><a href="film/where-do-i-even-start">Where Do I Event Start</a></div>  
    <div class="project1"><a href="film/last-night-i-had-this-dream">Last Night I Had this Dream</a></div>
    <div class="project1"><a href="film/limbo">Limbo</a></div>
    <div class="project1"><a href="film/vem-plus">VEM+</a></div>
</div>
