<div class="content index">

    <a class="index-container" href="film/angela">
        <%= image_tag("film/index/ANGELA.jpg", :class => "img") %>
        <div class="overlay">
            <div class="overlay-text">Angela</div>
        </div>
    </a>
        
    <div class="project1"><a href="film/zeina">Zeina</a></div>
    <div class="project1"><a href="film/where-do-i-even-start">Where Do I Event Start</a></div>  
    <div class="project1"><a href="film/last-night-i-had-this-dream">Last Night I Had this Dream</a></div>
    <div class="project1"><a href="film/limbo">Limbo</a></div>
    <div class="project1"><a href="film/vem-plus">VEM+</a></div>
</div>
