<% content_for :head do %> <title>Ari Salazar | Film | Last Night I Had this Dream</title>  <% end %>

<div class="content project">
    
    <div class="project-container">
        <%= image_tag("film/individual/LASTNIGHTIHADADREAM_INDVIDUAL.jpg", :class => "img", alt: "Ari Salazar experimental film Last Night I Had this dream")%>
    </div>
    
    <div class="text">
        <p class="thick">Last Night I Had this Dream</p>
        <p>A poetic meditation on the absurd experience of isolation during COVID-19.<p>

        <div class="credits">
            <div class="row">
                <ul class="keys">
                    <li>Filmmaker</li>
                    <li>Country</li>
                    <li>Year</li>
                    <li>Format</li>
                    <li>Length</li>
                    <li>Language</li>
                </ul>
                <ul class="values">
                    <li>Ari Salazar</li>
                    <li>Austria</li>
                    <li>2020</li>
                    <li>Digital</li>
                    <li>2:00</li>
                    <li>English</li>
                </ul>
            </div>
            <div class="row">
                <ul class="keys">
                    <li>Director</li>
                    <li>Cinematographer</li>
                    <li>Editor</li>
                    <li>Sound Designer</li>
                    <li>Cast</li>
                </ul>
                <ul class="values">
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Jascha Dor</li>
                </ul>
            </div>
        </div>
    </div>
</div>