<div class="content project">
    
    <div class="project-img-container"><img></img></div>
    
    <p class="thick">Limbo</p>
    <p>A surrealist short on a young high schooler’s late night subway rides in New York City.<p>

    <ul class="credits">
        <div class="keys">
            <li>Filmmaker</li>
            <li>Country</li>
            <li>Year</li>
            <li>Format</li>
            <li>Length</li>
            <li>Language</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>USA</li>
            <li>2025</li>
            <li>Digital</li>
            <li>2:00</li>
            <li>English</li>
        </div>
        <div class="keys">
            <li>Director</li>
            <li>Cinematographer</li>
            <li>Editor</li>
            <li>Sound</li>
            <li>Cast</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Mango Fury</li>
            <li>Joel Gorlick</li>
        </div>
    </ul>
</div>