<% content_for :head do %> <title>Ari Salazar | Film | Limbo</title>  <% end %>

<div class="content project">
    
    <div class="project-container">
        <%= image_tag("film/individual/LIMBO_INDVIIDUAL.jpg", :class => "img")%>
    </div>
    
    <div class="text">
        <p class="thick">Limbo</p>
        <p>A surrealist short on a young high schooler’s late night subway rides in New York City.<p>

        <div class="credits">
            <div class="row">
                <ul class="keys">
                    <li>Filmmaker</li>
                    <li>Country</li>
                    <li>Year</li>
                    <li>Format</li>
                    <li>Length</li>
                    <li>Language</li>
                </ul>
                <ul class="values">
                    <li>Ari Salazar</li>
                    <li>USA</li>
                    <li>2015</li>
                    <li>Digital</li>
                    <li>2:00</li>
                    <li>English</li>
                </ul>
            </div>
            <div class="row">
                <ul class="keys">
                    <li>Director</li>
                    <li>Cinematographer</li>
                    <li>Editor</li>
                    <li>Sound</li>
                    <li>Cast</li>
                </ul>
                <ul class="values">
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Ari Salazar</li>
                    <li>Mango Fury</li>
                    <li>Joel Gorlick</li>
                </ul>
            </div>
        </div>
    </div>
</div>