<div class="content project">
    
    <div class="project-img-container"><img></img></div>
    
    <p class="thick">Vem+</p>
    <p>The VEM+ network is an interdisciplinary research project based within the Faculty of Social Sciences & Public Policy at King's College London.The project aims to merge visual, embodied and arts-based methodologies with the social sciences. The documentary follows four pairs of VEM+ researchers and artists' collaborative process during a weeklong art residency.  During this time, we get to know their complex treatment of issues of migrant rights, gender justice, the rise in nationalism and post-war reconciliation processes.</p>
    <p>Find out more about the project here: https://www.kcl.ac.uk/research/visual-embodied-methodologies</p>

    <ul class="credits">
        <div class="keys">
            <li>Filmmaker</li>
            <li>Country</li>
            <li>Year</li>
            <li>Format</li>
            <li>Length</li>
            <li>Language</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>UK</li>
            <li>2019</li>
            <li>Digital</li>
            <li>15:00</li>
            <li>English</li>
        </div>
        <div class="keys">
            <li>Director</li>
            <li>Producer</li>
            <li>Cinematographer</li>
            <li>Editor</li>
            <li>Sound Designer</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
        </div>
        <div class="keys">
            <li>Cast</li>
        </div>
        <div class="values">
            <li>Prof Cathy McIlwaine</li>
            <li>Gaël Le Corne</li>
            <li>Dr Negar Elodie Behzadi</li>
            <li>Dr Jelke Boesten</li>
            <li>Dr Henry Redwood</li>
            <li>Vladimir Miladinović</li>
            <li>Dr Pablo De Orellana</li>
            <li>Mariah Whelan</li>
        </div>
    </ul>
</div>