<div class="content project">
    
    <div class="project-container"><img></img></div>
    
    <p class="thick">Where Do I Even Start </p>
    <p>An experimental short film that traces the passage of a relationship from its beginnings to its breakdown.</p>

    <ul class="credits">
        <div class="keys">
            <li>Filmmaker</li>
            <li>Country</li>
            <li>Year</li>
            <li>Medium</li>
            <li>Length</li>
            <li>Language</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>UK</li>
            <li>2020</li>
            <li>Digital</li>
            <li>5:00</li>
            <li>English</li>
        </div>
        <div class="keys">
            <li>Director</li>
            <li>Cinematographer</li>
            <li>Editor</li>
            <li>Sound</li>
            <li>Cast</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ida Vaansgard Christensen</li>
        </div>
    </ul>
</div>