<div class="content project">
    
    <div class="project-container">
        <%= image_tag("film/individual/IDA_INDVIDUAL.jpg", :class => "img")%>
    </div>

        <div class="text">
            <p class="thick">Where Do I Even Start </p>
            <p>An experimental short film that traces the passage of a relationship from its beginnings to its breakdown.</p>

            <div class="credits">
                <div class="row">
                    <ul class="keys">
                        <li>Filmmaker</li>
                        <li>Country</li>
                        <li>Year</li>
                        <li>Medium</li>
                        <li>Length</li>
                        <li>Language</li>
                    </ul>
                    <ul class="values">
                        <li>Ari Salazar</li>
                        <li>UK</li>
                        <li>2020</li>
                        <li>Digital</li>
                        <li>5:00</li>
                        <li>English</li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="keys">
                        <li>Director</li>
                        <li>Cinematographer</li>
                        <li>Editor</li>
                        <li>Sound</li>
                        <li>Cast</li>
                    </ul>
                    <ul class="values">
                        <li>Ari Salazar</li>
                        <li>Ari Salazar</li>
                        <li>Ari Salazar</li>
                        <li>Ari Salazar</li>
                        <li>Ida Vaansgard Christensen</li>
                    </ul>
                </div>
            </div>
        </div>
</div>