<div class="content project">
    
    <div class="project-container"><img></div>
    
    <p class="thick">Zeina</p>
    <p class="synopsis">A short observational documentary that traces a young Egyptian woman's intimate conversations on everyday racism and discrimination on a night out in London.</p>

    <ul class="credits">
        <div class="keys">
            <li>Filmmaker</li>
            <li>Country</li>
            <li>Year</li>
            <li>Format</li>
            <li>Length</li>
            <li>Language</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>UK</li>
            <li>2020</li>
            <li>Digital</li>
            <li>7:00</li>
            <li>English, Arabic</li>
        </div>
        <div class="keys">
            <li>Director</li>
            <li>Cinematographer</li>
            <li>Editor</li>
            <li>Sound</li>
            <br> 
            <li>Cast</li>
        </div>
        <div class="values">
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Ari Salazar</li>
            <li>Semeli Safou</li>
            <li>Ari Salazar</li>
            <li>Zeina Dowidar</li>
            <li>Nada Aboul Kheir</li>
        </div>
    </ul>
</div>