<div class="content about">
    <div class="about-container about1"><%= image_tag("about/about1.jpg", :class => "img")%></div>
    <p>Ari Salazar is an artist and filmmaker based in London. Her practice explores themes of identity, belonging and home through performance art, memory and oral testimony.</p>
    <p>Along with her work for the UN, EU and the War Studies Institute, she has worked on various short films, fashion commercials and documentaries.</p>
    <p>Request CV for more info.</p>
    <div class="about-container about2"><%= image_tag("about/about2.png", :class => "img")%></div>
    <div class="about-container about3"><%= image_tag("about/about3.png", :class => "img")%></div>
</div>