<% content_for :head do %> <title>Ari Salazar | Contact</title>  <% end %>

<div class="content contact">
    <p>For projects, commissions, collaborations, or to buy prints, please email me at arisalazarfilm@gmail.com</p>
</div>