* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: white;
    height: 16vh;
}

.content {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 16vh;
    font-size: 88%;
    letter-spacing: 1px;
    line-height: 13pt;
}

#title {
    width: 13%;
    margin-top: 1em;
    float: left;
}

.active  {
    color: #70d958
}

nav {
    text-align: right;
}

.burger div {
    display: flex;
    display: -webkit-flex;
    width: 40px; 
    height: 4px; 
    border-radius: 25px;
    margin: 5px;
    background: black;
    display: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu {
    margin-right: 0.8em;
    list-style-type: none;
    float: right;
}

.menu li {
    font-size: 80%;
    font-weight: 400;
    display: inline-block;
    padding: 14px;
    margin-top: 2.5em;
    margin-right: 1em;
}
 
@media only screen and (max-width: 750px) { 
    html,
    body {
        overflow-x: hidden;
    }

    header {
        position: fixed;
        height: 13.5vh;
    }

    #title {
        margin-left: 1.3em;
    }

    .burger {
        float: right;
        margin-top: 2em;
        margin-right: 3em;
        cursor: pointer;
    }

    .burger div {
        display: block;
        align-items: center;
        margin-top: 7px;
    }
    
    .menu {
        position: relative;
        margin-top: 13vh;
        height: 87vh;
        width: 100%;
        text-align: center;
        -webkit-transform: translateX(120%);
        transform: translateX(120%);
        -webkit-transition: transform 0.1s ease-in;
        transition: transform 0.1s ease-in;
        background-color: white;
        opacity: 0.90;
    }

    .menu li {
        display: block;
        width: 100%;
        opacity: 0;
        margin: 1.2em auto;
        font-size: 130%;
    }

    .nav-active {
        position: fixed;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    @-webkit-keyframes menuLinkFade {
        from {
            opacity: 0;
            -webkit-transform: translateX(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateX(0px);
        }
    }

    @keyframes menuLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-9px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-9px,-6px);
    }

    .content {
        max-width: 95%;
    }
}
