* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    padding: 0;
}

body {
    color: black;
    min-height: 100vh;
    padding: 0;
    overflow-x: hidden;
}

.page {
    position: relative;
    min-height: 100vh;
}

header {
    position: asbolute;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: white;
    height: 18vh;
}

.content {
    max-width: 60%;
    margin: 0 auto;
    font-size: 88%;
    letter-spacing: 0.063em;
    line-height: 13pt;
    padding-bottom: 5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
}

.social-media {
    text-align: right;
    position: relative;
    padding-right: 2em;
    margin: 1em auto;
}

.social-media a {
    padding: 0.5em;
}

#title {
    width: 13%;
    margin-top: 1em;
    margin-left: 1em;
    float: left;
}

.active  {
    color: #70d958
}

nav {
    text-align: right;
}

.burger div {
    display: flex;
    display: -webkit-flex;
    width: 40px; 
    height: 4px; 
    border-radius: 25px;
    margin: 5px;
    background: black;
    display: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menu {
    margin-right: 0.8em;
    list-style-type: none;
    float: right;
}

.menu li {
    font-size: 80%;
    display: inline-block;
    padding: 1.2em;
    margin-top: 2.5em;
    margin-right: 1em;
}
 
@media only screen and (max-width: 750px) { 
    html,
    body {
        overflow-x: hidden;
    }

    header {
        position: absolute;
        height: 13vh;
    }

    #title {
        margin-left: 1.3em;
        z-index: 100;
    }

    .content {
        padding-top: 16vh;
        max-width: 95%;
        bottom: 5rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .content div {
        margin: 0 auto;
    }

    .burger {
        float: right;
        margin-top: 2em;
        margin-right: 3em;
        cursor: pointer;
    }

    .burger div {
        display: block;
        align-items: center;
        margin-top: 7px;
    }
    
    .menu {
        position: relative;
        display: none;
        margin-top: -0.1em;
        margin-right: -0.1em;
        height: 100vh;
        width: 100%;
        text-align: center;
        -webkit-transition: transform 0.1s ease-in;
        transition: transform 0.1s ease-in;
        background-color: white;
        opacity: 0.90;
    }

    .menu li {
        display: block;
        width: 100%;
        opacity: 0;
        padding: 0;
        font-size: 130%;
    }

    .nav-active {
        position: relative;
        display: block;
        z-index: 3;
    }

    @-webkit-keyframes menuLinkFade {
        from {
            opacity: 0;
            -webkit-transform: translateX(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateX(0px);
        }
    }

    @keyframes menuLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-9px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-9px,-6px);
    }
}

@media only screen and (min-width: 3840px) { 
    #title {
        margin-top: 5em;
        width: 30%;
    }

    .title-logo {
        width: 13em;
    }

    .menu {
        margin-right: 10em;
        margin-top: 3em;
    }

    .menu li {
        font-size: 130%;
    }

    .content {
        max-width: 50%;
    }
}