/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #bd5138;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #70d958;
}

#title {
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    width: 20%;
    margin-top: 0.7em;
    padding-left: 15px;
    font-size: 190%;
    font-family: 'DM Sans', sans-serif;
    color: #34292b;
    float: left;
}

ul#menu {
    margin:0;
    padding:0;
    margin-right: 2em;
    list-style-type: none;
    float: right;
}

ul#menu li {
    padding: 0;
    margin: 0;
    font-size: 90%;
    display: inline-block;
    margin-top: 1.5em;
    margin-right: 0.8em;
}

/* @media only screen and (max-width: 600px) {
    ul#menu li {
        background-color: white;
    }
} */
