/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #bd5138;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: #bd5138;
    height: 17vh;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #70d958;
}

#title {
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    width: 20%;
    margin-top: 0.5em;
    font-size: 190%;
    font-family: 'DM Sans', sans-serif;
    color: #34292b;
    float: left;
}

nav {
    text-align: right;
}

.burger div {
    display: flex;
    width: 40px; 
    height: 4px; 
    border-radius: 25px;
    margin: 5px;
    background: #34292b;
    display: none;
    transition: all 0.3s ease;
}

.menu {
    margin:0;
    padding:0;
    margin-right: 2em;
    list-style-type: none;
    float: right;
}

.menu li {
    padding: 0;
    margin: 0;
    font-size: 90%;
    display: inline-block;
    margin-top: 2.5em;
    margin-right: 0.8em;
}
 
@media only screen and (max-width: 750px) { 
    html,
    body {
        overflow-x: hidden;
    }

    header {
        position: fixed;
        padding-bottom: 0.4em;
    }

    #title {
        margin-left: 1.3em;
    }

    .burger {
        float: right;
        margin-top: 2em;
        margin-right: 3em;
        cursor: pointer;
    }

    .burger div {
        display: block;
        align-items: center;
        margin-top: 7px;
    }
    
    .menu {
        position: relative;
        height: 90vh;
        width: 85%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    .menu li {
        opacity: 0;
        display: block;
        margin: 0;
        margin-top: 0.5em;
        font-size: 130%;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes menuLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-9px,6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-9px,-6px);
    }

}