// Place all the styles related to the film controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-container {
    display: block;
    position: relative;
    margin: 1 auto;
    overflow: hidden;
    max-height: 30em;
    max-width: 65em;
}

.project-container .img {
    width: 100%;
    height: auto;
    align-items: center;
}

.text {
    width: 100%;
    text-align: left;
    margin: auto;
    font-size: 88%;
    letter-spacing: 0.075em;
    line-height: 13pt;
}

.synopsis {
    font-size: 95%;
}

.thick {
    font-weight: bold;
    margin-bottom: 3px;
}

.credits {
    display: flex;
    display: -webkit-flex;
    font-size: 90%;
    // justify-content: space-between;
}

.project .row {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
}

.keys, 
.values {
    list-style-type: none;
    margin-top: 2em;
}

.keys {
    font-weight: bold;
    margin-right: 2em;
}

@media only screen and (min-width: 750px) { 
    .values {
        margin-right: 5em;
    }
}

@media only screen and (max-width: 750px) { 
    .credits {
        flex-direction: column;
    }
}