.index {
    text-align: center;
}

.index-container {
    overflow: hidden;
    vertical-align: top;
    width: 100%;
    display: inline-flex;
    margin-bottom: 1em;
}

.index-container img {
    width: 100%;
    height: auto;
}
