.index {
    text-align: center;
}

.index-container {
    display: block;
    position: relative;
    margin: 1em auto;
    max-height: 18.75em;
    max-width: 65em;
}

.index-container .img {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 750px) { 

    .fade::after {
        content:attr(data-text);
        color: black;
        display: flex;
        font-size: 90%;
        justify-content: center;
        align-items: center;
        background: white;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .fade:hover::after {
        opacity: 0.9;
    }
}
