.index {
    text-align: center;
}

.index-container {
    display: block;
    margin: 1em auto;
    max-height: 400px;
    max-width: 800px;
    overflow: hidden;
}

.index-container img {
    width: 100%;
    height: auto;
}