// Place all the styles related to the print controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    margin: 0;
    padding: 0;
}

.content {
    max-width: 90%;
    margin: auto;
    margin-top: 7em;
    padding-left: 2.5em;
}

@media only screen and (max-width: 768px) { 
    .content {
        padding-left: 2em;
    }
}

.prints li {
    vertical-align: top;
    width: 30%;
    list-style-type: none;
    display: inline-flex;
    margin: 0.5em;
    margin-bottom: 1em;
}

.prints img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 750px) { 
    .content {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 6.2em;
    }

    .prints li {
        width: 100%;
        margin-left: 1.1em;
        margin-right: 1.1em;
    }

    .prints img {
        width: 100%;
    }
}

// @media only screen and (min-width: 750px) { 
//     .zoom {
//         transition: transform .2s; /* Animation */
//     }
    
//     .zoom:hover {
//         transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
//     }
// }

footer {
    padding: 10vh;
}
