// Place all the styles related to the print controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prints {
    width: 100%;
    margin-left: 10%;
}

@media only screen and (min-width: 750px) { 
    .row {
        display: flex;
        display: -webkit-flex;
    }

    .print-container .img {
        align-items: left;
    }
}

@media only screen and (max-width: 750px) { 
    .print-text {
        text-align: center;
    }

    .print-text {
        text-align: center;
        padding: 1em;
        padding-bottom: 3em;
    }
}

.row {
    margin-bottom: 1em;
}

.print-container {
    margin: 1 auto;
    overflow: hidden;
    max-height: 700px;
    max-width: 300px;
}

.print-container .img {
    width: 100%;
    height: auto;
    margin-top: 0;
    align-items: center;
}

.print-text {
    text-align: center;
    margin: auto;
}