// Place all the styles related to the print controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @media only screen and (max-width: 768px) { 
//     .content {
//         padding-right: -2em;
//     }
// }

.prints ul {
    padding-inline-start: 0;
    padding: 0;
    padding-right: -2em;
}

.prints li {
    list-style-type: none;
}

.print-container {
    display: block;
    margin: 1em auto;
    max-height: 700px;
    max-width: 500px;
    overflow: hidden;
}

.prints img {
    width: 100%;
    height: auto;
}

// @media only screen and (max-width: 750px) { 
//     .print-container {
//         display: block;
//         margin: 1em auto;
//         max-height: 700px;
//         max-width: 500px;
//         overflow: hidden;
//     }

//     .prints img {
//         width: 100%;
//     }
// }
