// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #bd5138;
    font-family: 'Playfair Display', serif;
}

.enter {
    text-decoration: none;
    color: #34292b;
    display: block;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #70d958;
}

ul#landing-page {
    margin-top: 10%;
    list-style-type: none;
}

ul#landing-page li {
    text-align: center;
}
