<h1>ARI SALAZAR</h1>

<a href="film">film</a>
<a href="documentary">documentary</a>
<a href="fashion">fashion</a>
<a href="photography">photography</a>
<a href="about">about</a>
<a href="contact">contact</a>
