<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ari Salazar</title>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('landing-page/enter.png') %>
</head>

<body>
  <ul id='landing-page'>
    <li><%= image_tag("landing-page/logo.png", width: '400px') %></li>
    <li><%= image_tag("landing-page/enter.png", width: '100px') %></li>
    <li><a href="film"> enter </a></li>
  <ul>
</body>