<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ari Salazar | Enter</title>
  <meta name="title" content="Ari Salazar | Artist and Film Maker">
  <meta name="description" content="Ari Salazar is an artist and filmmaker based in London. Her practice explores themes of identity, belonging and home through performance art, memory and oral testimony.">
  <meta name="google-site-verification" content="WRoKruPijlfnW4LpPRnxjQNxC4Jtf_qdbaySCxfzRRM" />  
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('logos/enter.png') %>
</head>
<body>
  <div class="landing-page">
    <ul id='landing-page'>
      <div class="landing-container"><li><%= image_tag("logos/landing-page-logo.png", :class => "lp-logo") %></li></div>
      <li><a class="enter" href="https://www.arisalazar.com/film"> enter </a></li>
    <ul>
  </div>
</body>